.title {
  text-align: left;
}
.table-container {
  width: 80%;
  margin: 40px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #2c3e50;
  color: black;
  text-align: left;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

tr:hover {
  background-color: #f5f5f5;
}


