.snackbar-red {
  background-color: red !important;
  color: white !important;
}

.snackbar-yellow {
  background-color: yellow !important;
  color: black !important;
}

.snackbar-green {
  background-color: green !important;
  color: white !important;
}

.snackbar-blue {
  background-color: blue !important;
  color: white !important;
}
