<div class="sidenav-container" [class.collapsed]="collapsed">
  <div class="sidenav-header" (click)="navigateToHome()">
    <img src="./assets/images/Logo.jpg"
         alt="DenunciaYa"
         class="logo" />
    <span class="logo-text" *ngIf="!collapsed">DenunciaYa</span>
  </div>

  <mat-nav-list class="main-nav-section">
    <a mat-list-item
       *ngFor="let item of mainNavItems"
       [routerLink]="item.route"
       routerLinkActive="active-link"
       class="nav-item"
       (click)="onNavItemClick()">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span *ngIf="!collapsed">{{ item.label | translate }}</span>
    </a>
  </mat-nav-list>

  <mat-nav-list class="bottom-nav-section">
    <a mat-list-item
       *ngFor="let item of bottomNavItems"
       [routerLink]="item.route"
       routerLinkActive="active-link"
       class="nav-item bottom-item"
       (click)="onItemClick(item, $event)">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span *ngIf="!collapsed">{{ item.label | translate }}</span>
    </a>
  </mat-nav-list>
</div>
