<div class="container">
  <h2>{{ 'Add New Responsible' | translate }}</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="responsible-form">

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'First Name' | translate }}</mat-label>
        <input matInput [placeholder]="'Enter your first name' | translate" formControlName="firstName">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'Last Name' | translate }}</mat-label>
        <input matInput [placeholder]="'Enter your last name' | translate" formControlName="lastName">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'Email' | translate }}</mat-label>
      <input matInput [placeholder]="'Enter your email' | translate" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'Phone' | translate }}</mat-label>
      <input matInput [placeholder]="'Enter your phone number' | translate" formControlName="phone">
    </mat-form-field>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'Role' | translate }}</mat-label>
        <input matInput [placeholder]="'Enter your role' | translate" formControlName="role">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'Description / Area' | translate }}</mat-label>
        <mat-select formControlName="description">
          <mat-option *ngFor="let area of areas" [value]="area.value">{{ area.label | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'Access Level' | translate }}</mat-label>
      <mat-select formControlName="accessLevel">
        <mat-option *ngFor="let level of accessLevels" [value]="level.value">{{ level.label | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-group">
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">{{ 'Add Responsible' | translate }}</button>
      <button mat-stroked-button color="warn" type="button" (click)="onCancel()">{{ 'Discard Responsible' | translate }}</button>
    </div>
  </form>

  <mat-spinner *ngIf="store.loading()" diameter="40"></mat-spinner>
</div>
