
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body, html {
  background-color: #dfefff;
  margin: 0;
  padding: 0;
}

.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.payment-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(19, 152, 255, 0.62);
  padding: 40px;
  width: 500px;
  text-align: center;
}

.back-link {
  display: block;
  text-align: left;
  margin-bottom: 15px;
  text-decoration: none;
  color: #0a62d0;
  font-size: 15px;
  cursor: pointer;
}

.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.logoImage {
  width: 50px;
  height: 50px;
}

.payment-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.input-full-width,
.input-half {
  width: 100%;
}

.btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.confirm-btn {
  width: 80%;
  padding: 12px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .payment-card {
    width: 90%;
    padding: 25px;
  }

  .confirm-btn {
    width: 100%;
  }
}
