<div class="payment-container">
  <div class="payment-card">
    <button
      mat-button
      class="back-link"
      (click)="navigateToPlans()"
      [attr.aria-label]="'PAYMENT.ARIA_LABELS.BACK_BUTTON' | translate"
    >
      {{ 'PAYMENT.BACK_BUTTON' | translate }}
    </button>

    <h1 class="app-title">
      <img src="/assets/images/Logo_1.jpg" alt="Citizen" class="logoImage" />
      {{ 'PAYMENT.APP_TITLE' | translate }}
    </h1>

    <p>{{ 'PAYMENT.INSTRUCTIONS' | translate }}</p>

    <form class="payment-form" #paymentForm="ngForm" (ngSubmit)="confirmPayment()">
      <mat-form-field appearance="fill" class="input-full-width">
        <mat-label>{{ 'PAYMENT.CARD_NUMBER_LABEL' | translate }}</mat-label>
        <input
          matInput
          name="cardNumber"
          ngModel
          required
          pattern="^[0-9]{13,19}$"
          [placeholder]="'PAYMENT.CARD_NUMBER_PLACEHOLDER' | translate"
          [attr.aria-label]="'PAYMENT.ARIA_LABELS.CARD_NUMBER_FIELD' | translate"
          type="text"
        />
        <mat-error *ngIf="paymentForm.submitted && paymentForm.controls['cardNumber']?.invalid">
          {{ 'PAYMENT.ERRORS.CARD_NUMBER_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-half">
        <mat-label>{{ 'PAYMENT.EXPIRATION_DATE_LABEL' | translate }}</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          name="expirationDate"
          ngModel
          required
          [placeholder]="'PAYMENT.EXPIRATION_DATE_PLACEHOLDER' | translate"
          [attr.aria-label]="'PAYMENT.ARIA_LABELS.EXPIRATION_DATE_FIELD' | translate"
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year" panelClass="datepicker-panel"></mat-datepicker>
        <mat-error *ngIf="paymentForm.submitted && paymentForm.controls['expirationDate']?.invalid">
          {{ 'PAYMENT.ERRORS.EXPIRATION_DATE_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-half">
        <mat-label>{{ 'PAYMENT.CVC_LABEL' | translate }}</mat-label>
        <input
          matInput
          name="cvc"
          ngModel
          required
          pattern="^[0-9]{3}$"
          maxlength="3"
          [placeholder]="'PAYMENT.CVC_PLACEHOLDER' | translate"
          [attr.aria-label]="'PAYMENT.ARIA_LABELS.CVC_FIELD' | translate"
          type="password"
        />
        <mat-error *ngIf="paymentForm.submitted && paymentForm.controls['cvc']?.invalid">
          {{ 'PAYMENT.ERRORS.CVC_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-full-width">
        <mat-label>{{ 'PAYMENT.CARDHOLDER_NAME_LABEL' | translate }}</mat-label>
        <input
          matInput
          name="cardholderName"
          ngModel
          required
          pattern="^[a-zA-ZÀ-ÿ\\s]+$"
          [placeholder]="'PAYMENT.CARDHOLDER_NAME_PLACEHOLDER' | translate"
          [attr.aria-label]="'PAYMENT.ARIA_LABELS.CARDHOLDER_NAME_FIELD' | translate"
          type="text"
        />
        <mat-error *ngIf="paymentForm.submitted && paymentForm.controls['cardholderName']?.invalid">
          {{ 'PAYMENT.ERRORS.CARDHOLDER_NAME_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-checkbox
        name="terms"
        ngModel
        required
        [attr.aria-label]="'PAYMENT.ARIA_LABELS.TERMS_CHECKBOX' | translate"
      >
        <span [innerHTML]="'PAYMENT.TERMS_CHECKBOX' | translate"></span>
      </mat-checkbox>

      <div class="btn-container">
        <button
          mat-button="filled"
          color="primary"
          class="confirm-btn"
          type="submit"
          [disabled]="!paymentForm.valid"
        >
          {{ 'PAYMENT.CONFIRM_BUTTON' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
